<footer class="footer">
  <div class="container footer__container">
    <div class="footer__1">
      <h4>KidsnWhy</h4>
      <p>Visit Us.</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.485825397017!2d77.22392972485345!3d28.55517067935998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce23886868f29%3A0x525fcbff92c53409!2sKids%20n%20Why!5e0!3m2!1sen!2sin!4v1664618517255!5m2!1sen!2sin"
        width="300"
        height="300"
        style="border: 0; border-radius: 1rem"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="footer__2">
      <h4>Quick Links</h4>
      <ul class="footer__links">
        <li>
          <a href="/" style="text-decoration: none; color: #fff">Home</a>
        </li>
        <li>
          <a href="/about" style="text-decoration: none; color: #fff">About</a>
        </li>
        <li>
          <a href="/contact" style="text-decoration: none; color: #fff"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <div class="footer__3">
      <h4>Contact Us</h4>
      <div>
        <p>+91 8527973090</p>
        <p>+91 8130610736</p>
        <p>011-26254977</p>
        <p>kidsnwhy@gmail.com</p>
        <a
          href="https://www.facebook.com/Kidsnwhy/"
          style="text-decoration: none; color: #fff"
          >Facebook</a
        >
        <p>Address: 17, Siri Fort Road, New Delhi- 110049, INDIA</p>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <small>Copyright @ 2022 <span>Kids n Why</span></small>
  </div>
</footer>
