<nav>
    <div class="container nav__container">
      <a href="/"
        ><img src="images/knylogo.png" alt="KidsnWhy" class="logo"
      /></a>
      <ul class="nav__menu">
        <li>
          <a href="/" style="text-decoration: none; color: #444444">Home</a>
        </li>
        <li>
          <a href="/about" style="text-decoration: none; color: #444444"
            >About</a
          >
        </li>
        <li>
          <a href="/contact" style="text-decoration: none; color: #444444"
            >Contact</a
          >
        </li>
      </ul>
      <button id="open-menu-btn">
        <img src="images/menu.png" />
      </button>

      <button id="close-menu-btn">
        <img src="images/wrong.png" />
      </button>
    </div>
  </nav>
  