<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/confirm.css" />
    <title>Confirmation</title>
  </head>
  <body>
    <%- include('includes/navbar') %>
    <header>
      <center>
        <h1>Somethng went wrong!</h1>
        <p>
          Error: 505 Somethng went wrong on the server - we're doing our best to
          fix it as quickly as possible!
        </p>
        <a href="/" class="btn">Go Back</a>
      </center>
    </header>
  </body>
</html>
