<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/confirm.css" />
    <title>Confirmation</title>
  </head>
  <body>
    <%- include('includes/navbar') %>
    <header>
      <center>
        <h1>Hello!! Your Message is Sent</h1>
        <p>
          Thank You!! for reaching out to us. We will contact you for further
          details.
        </p>
        <a href="/" class="btn">Go Back</a>
      </center>
    </header>
  </body>
</html>
