<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="css/index.css" />

    <title>Kids n Why</title>
  </head>
  <body>
    <%- include('includes/navbar') %>

    <header>
      <div class="container header__container">
        <div class="header__left">
          <h1>Early Childhood Learning & Development</h1>
          <p>
            Kidsnwhy is an initiative formed by a group of edupreneurs seeking a
            visible change in education enterprise in india. It is a family of
            school and others from varied disciplines with an aspiration of
            national footprint, it is on the threshold of making a bigger impact
            on many lives. The guiding philosophy of kidsnwhy is to help
            children learn “how to bring abstract concepts to life”.
          </p>
          <a href="/contact" class="btn">Get Started</a>
        </div>
        <div class="header__right">
          <div class="header__right-image">
            <img src="images/frontWebImage.png" />
          </div>
        </div>
      </div>
    </header>
    <section class="programs">
      <div class="container programs__container">
        <div class="programs-left">
          <h1>Our Values & Programs</h1>
          <p>
            With International Progressive Curriculum based on Thematic and
            Playway Methods, Kids n Why offers a safe and positive environment
            where we help kids develop a love for learning.
          </p>
          <a href="/about" class="btn">Learn More</a>
        </div>
        <div class="programs-right">
          <article class="program">
            <img src="images/kindergarten.png" />
            <h5>Pre Nursery</h5>
            <p>
              Preschool will help your child develop socially and emotionally.
              In preschool, your children will learn how to compromise, be
              respectful towards others, and solve problems.
            </p>
          </article>

          <article class="program">
            <img src="images/mother.png" />
            <h5>Toddler</h5>
            <p>
              This Program helps the children to discover the fun of learning
              just the way they want from colors & puzzles.
            </p>
          </article>

          <article class="program">
            <img src="images/daycare-center.png" />
            <h5>Daycare</h5>
            <p>
              Daycare programs will help your child develop interests in verious
              activities such as Arts, Music, Story telling & Audio-Visual
              activities.
            </p>
          </article>

          <article class="program">
            <img src="images/social.png" />
            <h5>After School Activities</h5>
            <p>
              Afterschool programs can support social, emotional, cognitive, and
              academic development, reduce risky behaviors, promote physical
              health, and provide a safe and supportive environment for
              children.
            </p>
          </article>
        </div>
      </div>
    </section>

    <section class="events">
      <h2>Events</h2>
      <div class="container events__container">
        <article class="event">
          <div class="event__image">
            <img src="images/diwali1.jpg" alt="" />
          </div>
          <div class="event__info">
            <h4>Diwali</h4>
            <p>
              By celebrating Diwali and any other important festivals which
              arise throughout the year enables children to feel valued,
              supported and respected, with this comes confident children and
              learners.
            </p>
          </div>
        </article>

        <article class="event">
          <div class="event__image">
            <img src="images/image69.jpg" />
          </div>
          <div class="event__info">
            <h4>Mother's Day</h4>
            <p>
              The Mother's Day celebration was also an opportunity for our
              wonderful community to come together and build meaningful
              connections.
            </p>
          </div>
        </article>

        <article class="event">
          <div class="event__image">
            <img src="images/image85.jpg" alt="" />
          </div>
          <div class="event__info">
            <h4>Janmashtami</h4>
            <p>
              The main significance of Janmashtami is to encourage goodwill and
              to discourage bad will. This values are incorporated in children
              for there growth and development.
            </p>
          </div>
        </article>

        <article class="event">
          <div class="event__image">
            <img src="images/image89.jpg" alt="" />
          </div>
          <div class="event__info">
            <h4>Grandparent's Day</h4>
            <p>
              Grandparents' Day marks the bond between grandparents and
              grandchildren and is celebrated to honor and recognize the wisdom,
              love and contributions of our grandparents in our lives.
            </p>
          </div>
        </article>

        <article class="event">
          <div class="event__image">
            <img src="images/image112.jpg" alt="" />
          </div>
          <div class="event__info">
            <h4>Christmas Carnival</h4>
            <p>
              The children were told about the birth of Lord Jesus and the
              legend of Santa Claus. The spirit of giving and sharing was
              inculcated among the tiny tots. The essence of Christmas came
              alive when Santa Clause himself went into the classes.
            </p>
          </div>
        </article>

        <article class="event">
          <div class="event__image">
            <img src="images/image84.jpg" alt="" />
          </div>
          <div class="event__info">
            <h4>Dussehra Celebration</h4>
            <p>
              Dussehra will hold good when we make an effort to destroy the evil
              within and around us. So, on this Dussehra let's burn the Ravana
              of false ego, hated, and greed.
            </p>
          </div>
        </article>
      </div>
      <br />
    </section>

    <%- include('includes/footer') %>

    <script src="script/main.js"></script>
  </body>
</html>
